.vscode/**
.vscode-test/**
.github/**

out/**
dist-vsix/**
src/**
docs/**
scripts/**
test/**
tests/**
coverage/**

node_modules/**

.git/**
.gitignore
.yarnrc
esbuild.js
CLAUDE.md
test-output.log
package-lock.json

media/*.svg
media/*.gif

*.vsix
**/*.vsix
**/*.map
**/*.ts
**/tsconfig.json
**/eslint.config.mjs
**/.vscode-test.*